POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=n8n

REDIS_PASSWORD=your_redis_password

EVOLUTION_DB_NAME=evolution
EVOLUTION_API_KEY=your_evolution_api_key

token2 = 'your_token_here'
